body {
  text-align: center;
  background-color: darkslateblue;
}

#game-title {
  font-family: 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
  margin: 5%;
  color:darkseagreen
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 1px;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 1px solid white;

}

.black {
  background-color: black;
}