/* TicTacToe */

body {
  text-align: center;
  background-color: darkslateblue;
}

#game-title {
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 3rem;
  margin: 5%, 5%, 2%, 5%;
  color: darkseagreen;
}

#winner1 {
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 3rem;
  margin: 5%, 5%, 2%, 5%;
  color: darkseagreen;
}

#winner2 {
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 3rem;
  margin: 5%, 5%, 2%, 5%;
  color: darkseagreen;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 1px;
  display: inline-block;
  height: 101px;
  width: 101px;
  border: 1px solid white;
}

.blank {
  background-image: url("blank.png");
}

.btn--o {
  background-image: url("o.png");
}

.btn--x {
  background-image: url("x.png");
}

.hidden {
  display: none;
}
